{% extends 'base.html' %}
{% block content %}

<header>
    <div><img class="logo" src="/static/img/prestar_negro.svg" alt="Prest.Ar"></div>
	
</header>
<main>
    <div class="titulo1">SOBRE CONAMI</div>
    <div class="texto1">
        <p>Desde la Comisión Nacional de Microcrédito, nos proponemos generar un sistema de finanzas solidarias que articule la diversidad de recursos de cada comunidad para generar más y mejor trabajo e impulsar la producción popular. Trabajamos junto a las organizaciones sociales y organismos gubernamentales en proyectos que son esenciales para los sectores populares, vinculados a la alimentación, el desarrollo textil, el hábitat social, el cuidado de personas y el reciclado urbanos, entre otros.</p>

        <p>Como parte de este proceso, además del financiamiento a instituciones de microcrédito, desarrollamos un plan de capacitación y asistencia técnica que permita la articulación de actores, saberes, fortalezas y oportunidades para potenciar los circuitos de producción y consumo local y solidario. Para ello establecemos acuerdos estratégicos con diferentes actores territoriales como las universidades, instituciones de desarrollo tecnológico y de la comunicación.</p>
            
        <p>El objetivo de la Comisión es consolidar una política pública que conciba a los y las trabajadoras de la economía popular como integrantes de un sistema de finanzas basado en lazos solidarios. El acompañamiento permanente de las organizaciones es la base para que puedan expandir su actividad productiva, incorporar tecnologías y mejorar su capacidad de gestión.</p>

        <p>La CONAMI actúa en el marco de la Ley 26.117 de Promoción del Microcrédito para el desarrollo de la Economía Social sancionada en el año 2006.</p>

    </div>
    <div><img style="width: 200px" src="/static/img/min_desarrollo_social.png" alt="Ministerio de Desarrollo Social"><img style="width: 200px; margin-left: 50px" src="/static/img/logo_conami.png" alt="CONAMI"></div>
    
    
    </main>
{% endblock %}