{% extends 'base.html' %}
{% block content %}
<header>
	SOLICITUD DE CRÉDITO
</header>

<main>
    <form target="_self"  method="POST" class="simulacion-form">{% csrf_token %}
        <div class="texto" style="color:red">
            {% if messages %}
                <div class="span12">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message|safe }}
                </div>
            {% endfor %}
                </div>
            {% endif %}

            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
            {% endif %}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form %}

                {{ field.errors.as_ul }}
            {% endfor %}
        </div>
			<div class="caja">
     			<div class="grid-item titulo">DATOS DEL EMPRENDIMIENTO</div>

           <div class="grid-item texto">DESCRIPCIÓN DEL EMPRENDIMIENTO</div>
           <div class="grid-item" title="Completá con una breve descripción del emprendimiento de al menos 150 caracteres">{{ form.descripcion_emp }}</div>
           <div class="grid-item texto">RUBRO ECONÓMICO</div>
           <div class="grid-item"> {{ form.rubro }}</div>
           <div class="grid-item texto">INICIO DE LA ACTIVIDAD</div>
           <div class="grid-item" title="El emprendimiento debe tener una antigüedad mínima de 6 meses desde su comienzo"> {{ form.inicio_actividad }}</div>
           <div class="grid-item texto">TELÉFONO DE CONTACTO</div>
           <div class="grid-item" title="Puede ser el mismo que tu teléfono personal">{{ form.datos_contacto }}</div>
           <div class="grid-item texto">PERSONAL FAMILIAR</div>
           <div class="grid-item" title="Cantidad de familiares que trabajan en el emprendiemiento">{{ form.personal_familiar }}</div>
           <div class="grid-item texto">PERSONAL NO FAMILIAR</div>
           <div class="grid-item" title="Cantidad de personas NO familiares que trabajan en el emprendiemiento">{{ form.personal_nofamiliar }}</div>
           <div class="grid-item texto">INGRESOS TOTALES POR MES</div>
           <div class="grid-item" title="Monto aproximado de ganancia bruta mensual del emprendimiento">{{ form.ingreso_emp_mes }}</div>
           <div class="grid-item texto">GASTOS TOTALES AL MES</div>
           <div class="grid-item" title="Monto aproximado de gastos brutos mensuales del emprendimiento">{{ form.gastos_emp }}</div>
           <!-- <div class="grid-item texto">INGRESOS FAMILIARES AL MES</div>
           <div class="grid-item">{{ form.ingresos_familiares_mes }}</div>
           <div class="grid-item texto">GASTOS FAMILIARES AL MES</div>
           <div class="grid-item">{{ form.gastos_familiares_mes }}</div> -->
           <div class="grid-item texto">NOTAS<p>(Campo opcional)</p></div>
           <div class="grid-item" title="Completá con cualquier dato que creas importante aclarar">{{ form.notas }}</div>
           <div class="grid-item texto">IMPORTE SOLICITADO</div>
           <div class="grid-item" title="Monto total a solicitar">{{ form.importe_solicitado }}</div>
           <div class="grid-item texto">CANTIDAD DE CUOTAS</div>
           <div class="grid-item" title="¿En cuántos pagos vas a devolver el crédito?">{{ form.cant_cuotas }}</div>
           <div class="grid-item texto">TASA DE INTERÉS %</div>
           <div class="grid-item" title="TEA %">{{ form.tasa_anual }}</div>

        </div>

		<button class="save btn btn-default">ENVIAR</button>

	</form>
</main>
{% endblock %}