{% extends 'simulador/base.html' %}
{% block content %}
<header>
    <div class="title"><img src="/static/img/prestarnegroHD@4x.png" alt="Prest.Ar"></div>
	SIMULADOR (sim_index.html)
</header>

<main>

<div>
    <p>Este es el simulador de créditos del sistema <b>prest.ar</b> de la Comisión Nacional de Microcréditos</p>
    <p>Con esta herramienta vas a poder simular un crédito para calcular el valor de la cuota mensual a partir de los datos solicitados. Simplemente completá tu nombre, tus datos de contacto, el monto del crédito y la cantidad de cuotas y el sistema automáticamete calculará el valor final de la cuota.</p>
</div>

</main>
{% endblock %}