{% extends 'base.html' %}
{% block content %}
<header>
    <div><img class="logo" src="/static/img/prestarnegroHD@4x.png" alt="Prest.Ar"></div>
	
</header>

<main>
    <div class="titulo1">BIENVENIDO AL SIMULADOR DE CRÉDITOS</div>
<div class="texto1">
    <p>Este es el simulador de créditos del sistema <b>prest.ar</b> de la Comisión Nacional de Microcréditos</p>
    <p>Con esta herramienta vas a poder simular un crédito para calcular el valor de la cuota mensual a partir de los datos solicitados. Simplemente completá tu nombre, tus datos de contacto, el monto del crédito y la cantidad de cuotas, el sistema automáticamete calculará el valor final de la cuota que estarías pagando.</p>
    <p>IMPORTANTE: La realización de la simulación no garantiza la disponibilidad ni la calificación para la obtención del crédito.</p>
</div>

</main>
{% endblock %}