{% extends 'base.html' %}
{% block content %}
<header>
	SIMULACIONES REALIZADAS
</header>
<script>
	function sortTable(n) {
	  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
	  table = document.getElementById("myTable");
	  switching = true;
	  // Set the sorting direction to ascending:
	  dir = "asc"; 
	  /* Make a loop that will continue until
	  no switching has been done: */
	  while (switching) {
		// Start by saying: no switching is done:
		switching = false;
		rows = table.rows;
		/* Loop through all table rows (except the
		first, which contains table headers): */
		for (i = 1; i < (rows.length - 1); i++) {
		  // Start by saying there should be no switching:
		  shouldSwitch = false;
		  /* Get the two elements you want to compare,
		  one from current row and one from the next: */
		  x = rows[i].getElementsByTagName("TD")[n];
		  y = rows[i + 1].getElementsByTagName("TD")[n];
		  /* Check if the two rows should switch place,
		  based on the direction, asc or desc: */
		  if (dir == "asc") {
			if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
			  // If so, mark as a switch and break the loop:
			  shouldSwitch = true;
			  break;
			}
		  } else if (dir == "desc") {
			if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
			  // If so, mark as a switch and break the loop:
			  shouldSwitch = true;
			  break;
			}
		  }
		}
		if (shouldSwitch) {
		  /* If a switch has been marked, make the switch
		  and mark that a switch has been done: */
		  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
		  switching = true;
		  // Each time a switch is done, increase this count by 1:
		  switchcount ++; 
		} else {
		  /* If no switching has been done AND the direction is "asc",
		  set the direction to "desc" and run the while loop again. */
		  if (switchcount == 0 && dir == "asc") {
			dir = "desc";
			switching = true;
		  }
		}
	  }
	}
	</script>
<main>
	{% if user.is_authenticated %}
	<form method="GET">

		<div class="caja">
			<div class="grid-item titulo mayus">
				<span>FILTRAR SOLICITUDES<i style="float:right; padding-right:20px" class="bi bi-search"></i></span>
			</div>
			<div class="grid-item texto" value="APELLIDO">APELLIDO</div>
			<div class="grid-item" value="SIMULACION">{{ filter.form.apellido }}</div>
			<div class="grid-item texto" value="DNI">DNI</div>
			<div class="grid-item" value="SIMULACION">{{ filter.form.dni }}</div>

			<div class="grid-item texto" value="created_date">DESDE FECHA</div>
			<div class="grid-item" value="SIMULACION">{{ filter.form.start_date }}</div>
			<div class="grid-item texto" value="created_date">HASTA FECHA</div>
			<div class="grid-item" value="SIMULACION"> {{ filter.form.end_date }}</div>

			<div class="grid-item texto" value="created_date">DESDE MONTO</div>
			<div class="grid-item" value="FECHA">{{ filter.form.monto_desde }}</div>
			<div class="grid-item texto" value="monto">HASTA MONTO</div>
			<div class="grid-item" value="MONTO">{{ filter.form.monto_hasta }}</div>
		</div>

		<button class="save btn btn-outline-secondary" type="submit" value="FILTRAR">FILTRAR</button>

	</form>
	{% endif %}


	<table id="myTable" class="display">
		<thead>
		<tr class="titulo mayus">
		<th onclick="sortTable(0)">ID #</th>
		<th onclick="sortTable(1)">APELLIDO</th>
		<th onclick="sortTable(2)">DNI</th>
		<th onclick="sortTable(3)">MONTO</th>
		<th onclick="sortTable(4)">CUOTAS</th>
		<th onclick="sortTable(5)">FECHA</th>
		</tr>
		</thead>
		{% for simulacion in filter.qs %}
		<tbody>
		<tr >
		<td style="text-align: center;"><a href="{% url 'simulacion_detail' pk=simulacion.pk %}"><i class="bi bi-file-earmark-spreadsheet"></i>&nbsp;&nbsp;&nbsp;{{ simulacion.id|stringformat:"09d" }}</a></td>
		<td>{{ simulacion.apellido }}</td>
		<td>{{ simulacion.dni }}</td>
		<td>{{ simulacion.importe_solicitado }}</td>
		<td>{{ simulacion.cant_cuotas }}</td>
		<td style="text-align: center;">{{ simulacion.created_date|date:"SHORT_DATETIME_FORMAT" }}</td>
		</tr>
		</tbody>
		{% empty %}
			<div class="grid-item texto">NO HAY RESULTADOS PARA LA BÚSQUEDA</div>
	  {% endfor %}
	  </table>


  <!-- {% for simulacion in filter.qs %}

<form target="_self"  method="POST" class="simulacion">
			<div class="caja">
     			<div class="grid-item titulo mayus"><a href="{% url 'simulacion_detail' pk=simulacion.pk %}"><i class="bi bi-bookmark"></i>&nbsp;&nbsp;#{{ simulacion.id|stringformat:"09d" }}</a></div>

          <div class="grid-item texto">NOMBRE</div>
          <div class="grid-item">{{ simulacion.apellido }}</div>
          <div class="grid-item texto">MONTO SOLICITADO</div>
          <div class="grid-item">$ {{ simulacion.importe_solicitado}}</div>
          <div class="grid-item texto">TASA ANUAL</div>
          <div class="grid-item">{{ simulacion.tasa_anual }}%</div>
          <div class="grid-item texto">PAGOS</div>
          <div class="grid-item">{{ simulacion.cant_cuotas }} cuotas</div>
          <div class="grid-item texto">VALOR DE LA CUOTA</div>
          <div class="grid-item">$ {{ simulacion.calculo_cuota }}</div>
					<div class="grid-item texto">SIMULADO EN</div>
					<div class="grid-item">$ {{ simulacion.created_date | date }}</div>
			</div>
	</form>
  {% empty %}
	<div class="grid-item texto">NO HAY RESULTADOS PARA LA BÚSQUEDA</div>
  {% endfor %} -->
</main>
{% endblock %}