{% extends 'base.html' %}
{% block content %}
<header>
	REALIZAR SIMULACIÓN
</header>

<main>
    <div class="texto" style="color:red; padding:30px">
						
        {% if messages %}
        <div class="span12">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
        </div>
        {% endif %}

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    {% endif %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form %}

        {{ field.errors.as_ul }}
    {% endfor %}
    </div>
    <form target="_self"  method="POST" class="simulacion-form">{% csrf_token %}
			<div class="caja">
     			<div class="grid-item titulo">DATOS DEL EMPRENDEDOR</div>
                 {% if user.is_authenticated %}
                <div class="grid-item texto">NOMBRE</div>
                <div class="grid-input"><input readonly {{ form.nombre }}</div>
                <div class="grid-item texto">APELLIDO</div>
                <div class="grid-input"><input readonly {{ form.apellido }}</div>
                <div class="grid-item texto">DNI</div>
                <div class="grid-input"><input readonly {{ form.dni }}</div>
                <div class="grid-item texto">TELÉFONO</div>
                <div class="grid-input"><input readonly {{ form.telefono }}</div>
                <div class="grid-item texto">CORREO ELECTRÓNICO</div>
                <div class="grid-input"><input readonly {{ form.email }}</div>
                {% else %}
                <div class="grid-item texto">NOMBRE</div>
                <div class="grid-input"> {{ form.nombre }}</div>
                <div class="grid-item texto">APELLIDO</div>
                <div class="grid-input">{{ form.apellido }}</div>
                <div class="grid-item texto">DNI</div>
                <div class="grid-input">{{ form.dni }}</div>
                <div class="grid-item texto">TELÉFONO</div>
                <div class="grid-input">{{ form.telefono }}</div>
                <div class="grid-item texto">CORREO ELECTRÓNICO</div>
                <div class="grid-input">{{ form.email }}</div>
                {% endif %}
                <div class="grid-item texto">MONTO SOLICITADO</div>
                <div class="grid-input">{{ form.importe_solicitado }}</div>
                <div class="grid-item texto">CANTIDAD DE CUOTAS</div>
                <div class="grid-input">{{ form.cant_cuotas }}</div>
                <div class="grid-item texto">TASA EFECTIVA ANUAL %</div>
                <div class="grid-input">{{ form.tasa_id }}</div>
			</div>

            <button class="save btn btn-default">ENVIAR</button>

	</form>
</main>
{% endblock %}