{% extends 'simulador/base.html' %}

{% block content %}
<header>
	DETALLE DE LA SIMULACIÓN
</header>

<main>


<form target="_self" class="simulacion">{% csrf_token %}
			<div class="caja">
        <div class="grid-item titulo mayus">
          <span><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp; #{{ simulacion.id|stringformat:"09d" }}
						{% if user.is_authenticated %}
              <a onclick="return confirm('¿Está seguro de que desea eliminar la simulación?')"; href="{% url 'simulacion_remove' pk=simulacion.pk %}"><span style="float:right" class="glyphicon glyphicon-trash"></span></a>
						{% endif %}
          </span>
					</div>
          <div class="grid-item texto">APELLIDO</div>
          <div class="grid-item">{{ simulacion.apellido }}</div>
          <div class="grid-item texto">NOMBRE</div>
          <div class="grid-item">{{ simulacion.nombre }}</div>
          <div class="grid-item texto">MONTO SOLICITADO</div>
          <div class="grid-item">$ {{ simulacion.monto}}</div>
          <div class="grid-item texto">TASA DE INTERÉS</div>
          <div class="grid-item">{{ simulacion.tasa_anual }}% T.E.A.</div>
          <div class="grid-item texto">PAGOS</div>
          <div class="grid-item">{{ simulacion.cant_cuotas }} cuotas</div>
          <div class="grid-item texto">VALOR DE LA CUOTA</div>
          <div class="grid-item">$ {{ simulacion.calculo_cuota }}</div>
          <div class="grid-item texto">FECHA DE LA SIMULACIÓN</div>
          <div class="grid-item">{{ simulacion.created_date }}</div>

			</div>
	</form>

</main>
{% endblock %}