{% extends 'simulador/base.html' %}
{% block content %}
<header>
	REALIZAR SIMULACIÓN (simulacion_edit.html)
</header>

<main>
<form target="_self"  method="POST" class="proveedor-form">{% csrf_token %}
			<div class="caja">
     			<div class="grid-item titulo">DATOS DEL PROVEEDOR</div>

          <div class="grid-item texto">NOMBRE y APELLIDO</div>
          <div class="grid-item">{{ form.nom_ape }}</div>
          <div class="grid-item texto">MONTO SOLICITADO</div>
          <div class="grid-item">{{ form.monto }}</div>
          <div class="grid-item texto">CANTIDAD de CUOTAS</div>
          <div class="grid-item">{{ form.cant_cuotas }}</div>
          <div class="grid-item texto">TASA de INTERÉS</div>
          <div class="grid-item">3%</div>
			</div>
		<button class="save btn btn-default">ENVIAR</button>
	</form>
</main>
{% endblock %}